/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.text_logo {
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 2rem;
}

