@font-face {
    font-family: "Cakra-Normal";
    src: url(/fonts/Cakra-Normal.woff) format("woff"), 
         url(/fonts/Cakra-Normal.woff2) format("woff2"),
         url(/fonts/Cakra-Normal.ttf) format("truetype"),
         url(/fonts/Cakra-Normal.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "TaylorSans-Light";
    src:
         url(/fonts/TaylorSans-Light_1.woff) format("woff"),
         url(/fonts/TaylorSans-Light.ttf) format("truetype"),;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "TaylorSans-Regular";
    src:
         url(/fonts/TaylorSans-Regular_1.woff) format("woff"),
         url(/fonts/TaylorSans-Regular.ttf) format("truetype"),;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ClashDisplay-Light";
    src: url(/fonts/ClashDisplay-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "ClashDisplay-Regular";
    src: url(/fonts/ClashDisplay-Regular.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
/*::-webkit-scrollbar {
    width: 0;
  }*/
  .page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }

  .header_box {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
  .navigation_box {
    width: 1200px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto;
  }
  .services_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: -96px;

  }
  .services_list {
    list-style: none;
  }
  .list_two {
    margin-left: 80px;
    margin-right: 80px;
  }
  .item_two {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .services_item {
    width: auto;
  }
  .services_item_button {
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    transition: all 0.25s ease-out;
    text-align: start;
    cursor: pointer;
  }
  .services_item_button:hover a {
    color: #7ED21A;
  }
  .services_link {
    color: #000000;
    text-decoration: none;
    transition: all 0.25s ease-out;
    width: 100%;
  }
  .phone_box {
    height: min-content;
    margin-top: -50px;
    transition: all 0.25s ease-out;
  }
  .phone_box:hover a {
    color: #7ED21A;
  }
  .link_phone {
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    transition: all 0.25s ease-out;
  }
  .arrow_phone {
    margin-left: 10px;
  }
  .header_text {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 1200px;
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

  }
  .header_text_green {
    font-family: "Cakra-Normal", sans-serif;
    font-weight: normal;
    font-size: 100px;
    color: #7ED21A;
  }

  .cover_box {
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .cover_box_mobile {
    display: none;
  }
  .cover_img {
    max-width: 100%;
  }
  .header_text_item {
    grid-column: 1/2;
    grid-row: 4/5;
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;
    width: 1200px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
  }
  .button_phone {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 1200px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button_phone_link {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #7ED21A;
  }

  .information_box {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }
  .about_as_box {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 140px;
    max-width: 1200px;
  }
  .as_box {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
  }
  .about_as_header {
    max-width: 420px;
    
  }
  .about_as_header_text {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 29px;
    text-transform: uppercase;
    width: 246px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
  }

  .about_as_information {
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    max-width: 760px;
  }
  .information_header_span {
    color:#7ED21A;
  }
  .about_as_information_header {
    margin-bottom: 20px;
  }
  .information_text {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: none;
    line-height: 20px;
    max-width: 527px;
  }
  .information_text_two {
    margin-top: 20px;
    opacity: 0;
  }
  .as_img {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 40px;
    border-radius: 90px;
    width: 100%;
  }
  .portfolio {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
  .box_portfolio {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 1200px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 140px;
  }
  .text_portfolio {
    width: 305px;
  }
  .top_splide {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 80px;
  }
  .splide__slide img {
    width: 100%;
    border-radius: 90px;
  }

  .pagination_hiden {
    visibility: hidden;
  }
  .arrow_hiden {
    visibility: hidden;
  }
  .bottom_splide {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 40px;
  }

  div.swiper {
    display: none;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 100px auto;
    width: 320px;
    height: 240px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  

  .button_portfolio {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .our_services_box {
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
  .box_services {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 1200px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 69px;
  }
  .text_service {
    max-width: 305px;
  }
  .main_box_service {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 1200px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 0;
  }
  .landscaping_box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  .landscaping_box_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #ffffff;
  }
  .landscaping_box_heading:hover h3{
    color:#7ED21A;
  }
  .landscaping_heding {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .landscaping_heding_text {
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    transition: all 0.25s ease-out;
    letter-spacing: 3px;
    margin-top: 30px;
  }
  .landscaping_heading_item {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .button_plus {
    margin-top: -55px;
    border: none;
    background-color: #FFFFFF;
  }
  .box_interactive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .interactive_information {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 282px;
  }
  .interactive_information_text {
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .interactive_information_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    width: 295px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  .information_link_text {
    text-decoration: none;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    width: 295px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .img_service {
    border-radius: 90px;
  }
  .gallary_box_one {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .gallary_box_two {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .gallary_box_three {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .gallary_box_for {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .gallary_box_fife {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .gallary_box_six {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .gallary_box_sevan {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;
    opacity: 0; 
  }
  .item_heding_hiden {
    color: #7ED21A;
  }
  .display_visability {
    max-height: 600px;
    opacity: 1;
    margin-top: -30px;
    padding-bottom: 30px;
  }
  .plus {
    transition: all 0.25s ease-out;
  }
  .plus_transform {
    transform: rotate(90deg);
  }
  .button_services {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .reviews_box {
    grid-column: 1/2;
    grid-row: 4/5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    width: 1200px;
    margin: 140px auto 0 auto;
    padding-bottom: 40px;
  }
  .reviews_box_header {
    margin-top: 40px;
    margin-left: 419px;
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .otzovik_splide_slide {
    height: 359px;
  }
  .otzovik_splide_slide img {
    width: 359px;
  }
  .reviews_box_carusel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .otziv_box {
    margin-left: 60px;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 21px;
    height: 359px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .otzovik_text {
    width: 369px;
  }
  .name_otzovik_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .name_otzovik_header {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .splide__arrow--prev {
    margin-left: 86%;
    padding: 0 auto;
  }
  .splide__arrow--next {
    margin-right: 0;
  }
  .pointer_hover {
    pointer-events: none;
}
.contacts_box {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts_box_header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts_form_text {
  font-family: "TaylorSans-Light", sans-serif;
  font-weight: 300;
  font-size: 21px;
  width: 272px;
  margin-bottom: 15px;
}
.contacts_form_link {
  text-decoration: none;
  font-family: "TaylorSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #000000;
}
.contacts_information_header {
  font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    width: 760px;
}
.contacts_form_box {
  width: 1200px;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form_box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  width: 1200px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.form_box_text {
  width: 300px;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form_input {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
.name_item {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-right: 20px;
}
.mail_item {
  grid-column: 2/3;
  grid-row: 1/2;
}
.phone_item {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 40px;
}
.message_item {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 40px;
}
.chekbox_conteiner {
  grid-column: 1/3;
  grid-row: 3/4;
}
.form_item {
  width: 335px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "TaylorSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 10px;
}
*:focus {
  outline: none;
}
.chekbox_conteiner {
  margin-top: 20px;
}
.link_document {
  font-family: "TaylorSans-Light", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
}
.button_form {
  grid-column: 1/3;
  grid-row: 2/3;
  cursor: pointer;
}
.button_form {
  margin-top: 80px;
  width: 100%;
  height: 100px;
  border: none;
  background-color: #7ED21A;
  border-radius: 50px;
  font-family: "TaylorSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.navigation_footer {
  padding-top: 80px;
  background-color: #000000;
  width: 100%;
  margin-top: 140px;
  padding-bottom: 80px;
  border-radius: 100px 100px 0 0;
}
.color_white {
  color: #FFFFFF;
}
.button_footer {
  background-color: #000000;
}
.button_footer a {
  color:#ffffff;
}


/* Мобильная адаптация */
@media (max-width: 640px) {

  .page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    max-width: 640px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .navigation_box {
    width: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto;
  }

  .hiden_logo_mobile {
    display: none;
  }
  .logo_image {
    transform: scale(2.3);
    margin-top: 15%;
  }
  

  .services_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 0;
    margin-top: 9%;
  }
  
  .list_two {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .item_two {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .services_item_button {
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    transition: all 0.25s ease-out;
    text-align: center;
    cursor: pointer;
  }

  .phone_box {
    height: min-content;
    margin-top: 20px;
    transition: all 0.25s ease-out;
  }


  .header_text {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 95%;
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    opacity: 0;
  }

  .cover_box {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .cover_img {
    display: none;
  }
  .cover_box_mobile {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .mobile_oblozhka {
    width: 100%;
    z-index: 1;
    opacity: 0;
  }
  .mobile_svg {
    width: 60%;
    position: absolute;
    z-index: 100;
    left: 20%;
    right: 20%;
    top: 22%;
    opacity: 0;
  }

  .header_text_green {
    font-family: "Cakra-Normal", sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #7ED21A;
  }

  .header_text_item {
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    width: 95%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
    opacity: 0;
  }

  .button_phone {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 90%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .button_phone_link {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #7ED21A;
  }

  .about_as_box {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 80px;
    max-width: 90%;
  }
  .as_box {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .about_as_header_text {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    width: 246px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
  }

  .about_as_information {
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 760px;
  }
  .information_header_span {
    color:#7ED21A;
  }
  .about_as_information_header {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .as_img {
    border-radius: 25px;
  }

  .box_portfolio {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 80px;
  }
  .portfolio_information_header {
    width: 90%;
  }

  .text_portfolio {
    width: 90%;
    margin: 0 auto;
  }

  .top_splide {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 80px;
    display: none;
  }
  .bottom_splide {
    display: none;
  }
  div.swiper {
    display: block;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 30px auto;
    width: 100%;
  }

  .box_services {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 69px;
  }

  .main_box_service {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 0;
  }

  .landscaping_box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .landscaping_box_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #ffffff;
  }
  .landscaping_box_heading:hover h3{
    color:#7ED21A;
  }
  .landscaping_heding {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .landscaping_heding_text {
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    transition: all 0.25s ease-out;
    letter-spacing: 3px;
    margin-top: 30px;
    text-align: start;
  }
  .landscaping_heading_item {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .box_interactive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .interactive_information {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
  }
  .interactive_information_text {
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .interactive_information_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .information_link_text {
    text-decoration: none;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .img_service {
    width: 100%;
    border-radius: 25px;
  }

  .reviews_box {
    grid-column: 1/2;
    grid-row: 4/5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    max-width: 320px;
    margin: 60px auto 0 auto;
    padding-bottom: 40px;
  }

  .reviews_box_header {
    margin-top: 40px;
    margin-left: 5%;
    font-family: "Cakra-Normal", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 50px;
  }

  .otzovik_splide_slide {
    height: auto;
  }
  .otzovik_splide_slide img {
    width: 60%;
  }
  .reviews_box_carusel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .splide__arrows {
    display: none;
  }

  .otziv_box {
    margin-left: 10%;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 21px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .otzovik_text {
    width: 90%;
  }

  .name_otzovik_header {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .contacts_box_header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contacts_form_text {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 21px;
    width: 90%;
    margin-bottom: 15px;
  }

  .contacts_information_header {
    font-family: "Cakra-Normal", sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      width: 100%;
      margin: 20px auto;
      text-align: center;
  }

  /*.contacts_form_box {
    width: 100%;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }*/

  .form_box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    width: 90%;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  .form_box_text {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .form_input {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    margin-top: 30px;
  }
  .name_item {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 0;
  }
  .mail_item {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 20px;
  }
  .phone_item {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 20px;
  }
  .message_item {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 20px;
  }
  .chekbox_conteiner {
    grid-column: 1/2;
    grid-row: 5/6;
    margin-top: 20px;
  }
  .form_item {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 21px;
    padding-bottom: 10px;
  }

  .link_document {
    font-family: "TaylorSans-Light", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-left: 0;
  }
  .button_form {
    grid-column: 1/2;
    grid-row: 3/4;
    cursor: pointer;
  }
  .button_form {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #7ED21A;
    border-radius: 50px;
    font-family: "TaylorSans-Regular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .button_footer {
    background-color: #000000;
  }
  .button_footer a {
    color:#ffffff;
  }
  .navigation_footer {
    padding-top: 40px;
    background-color: #000000;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 50px;
    border-radius: 55px 55px 0 0;
  }
}


